@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker');
@font-face {
    font-family: gushing meadow;
    src: url(Fonts/sf-gushing-meadow.regular.ttf);
}
@font-face {
    font-family: zombie holocaust;
    src: url(Fonts/zombie-holocaust.regular.ttf)
}
@font-face {
    font-family: espinhuda;
    src: url(Fonts/vtks-espinhuda.regular.ttf)
}

* {
    box-sizing: border-box;
    /* outline: 1px dashed blue; */
}
html {
    background-image: url("Images/dest2.jpg");
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}
html, body {
    margin: 0;
    padding: 0;
    }
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-header {
    width: 100%;
}
.nav {
    /* width: 100%; */
}
.nav ul {
    margin: 0;
    width: 100%;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    color: #9e1524;
    text-decoration: none;
    /* border-radius: 8px; */
}
.nav a:hover {
    background-color: rgba(0, 0, 0, 0.75);
}
.main-nav {
    font-family:  gushing meadow;
    text-align: center;
    font-size: 1.25em;
    font-weight: lighter;
    display: flex;
    width: 100%;
}
.main-nav li {
    padding: 0 2.5%;
}
.clan-name {
    font-family:  gushing meadow;
    font-weight: lighter;
    text-align: center;
    font-size: 4em;
    color: #9e1524;
    padding: 0 .25em;
}
.container {
    font-family: Permanent Marker;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 1.2em;
    width: 900px;
    margin: 0 auto;
    border-radius: 10px;
}
.container a {
    color: #9e1524;
}
.container a:hover {
    background-color: black;
}


/* INDEX */


.welcome-header {
    font-size: 2.5em;
}
.join-instructions {
text-align: center;
}
.join-link {
    text-align: center;
}


/* CODE OF CONDUCT */


.coc-notice {
display: flex;
    justify-content: center;
}
.coc-closing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.coc-closing h3 {
    text-align: center;
    width: 75%;
}
.requirements {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.requirements h2 {
    text-align: left;
    width: 100%;
}
.requirements ul {
    width: 100%;
}
.requirements div {
    width: 70%;
}
.join ul {
    display: flex;
    justify-content: center;
}
.join p {
    text-align: center;
}
.join h3 {
    text-align: center;
}
.join-header {
    font-size: 1.5em;
    text-align: left;
}
.join-tdlist {
    display: flex;
    flex-direction: column;
}
.join-section {
    display: flex;
    flex-direction: column;
}
.join-section div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.join-row {
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.join-row > div {
    width: 33%;
}
.join a:hover {
    background-color: rgba(0, 0, 0, .95);
    border-radius: 8px;
}
.join button {
    padding: .5em;
    color: #9e1524;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 8px;
    font-size: 1em;
}


/* RANKS */


.rank {
    width: 900px;
}
.rank a {
    text-decoration: none;
}
.rank a:hover {
    text-decoration: underline;
}
.rank-header {
    text-align: center;
}
.founder {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.rank-founder, .rank-cofounder, .rank-general {
    width: 100%;
    text-align: center;
}
.officers {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.rank-captain, .rank-lieutenant, .rank-sergeant {
    width: 75%;
} 
.rank-captain > .rank-members {
    flex-direction: row;
    text-align: center;
}
.rank-captain > .rank-members > li {
    width: 50%;
    
} 
.lieutenant-left, .lieutenant-right {
    width: 50%;
}
.rank-lieutenant > .rank-members, .rank-sergeant > .rank-members {
    flex-direction: row;
    text-align: left;
}
.sergeant-left, .sergeant-mid, .sergeant-right {
    width: 33%;
}
.rank-sergeant > .rank-members {
    flex-direction: row;
}
.rank-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}