@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker');
* {
    box-sizing: border-box;
    /* font-family: Permanent Marker; */
    color: rgb(189, 174, 174);
    /* outline: 1px dashed blue */
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    background-image: url("Images/diablo.jpg");
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    height: 100%;
}
.nav ul {
    margin: 0;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color:rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
    border-radius: 8px;
}
.nav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.main-nav {
    font-family: Dancing Script;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    /* border-bottom: 1px solid rgba(255, 0, 0, .75); */
}
.main-nav li {
    padding: 0 2.5%;
}
.clan-name {
    font-family: Permanent Marker;
    text-align: center;
    font-size: 4em;
    color: rgba(255, 0, 0, 0.75);
}
.main-div {
    display: flex;
    justify-content: center;
}
.container {
    font-family: Permanent Marker;
    width: 900px;
    margin: 1 auto;
    padding: 0 1.5em;
    /* background-color: rgba(0, 0, 0, 0.5); */
}
.join button {
    padding: .5em;
    color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, .25);
    border: none;
    border-radius: 8px;
}
.join a:hover {
    background-color: rgba(0, 0, 0, .75);
}
.join-row {
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.join-row > div {
    width: 33%;
}
.join-section {
    display: flex;
    flex-direction: column;
}
.coc-body > div {
    margin-bottom: 8px;
}
